<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Content/contact.css">
</head>
<div class="containers">
    <h2>WELCOME TO MY WEBSITE
     <p></p>
    <p class="lead" style="text-align: center;">
      <a class="btn btn-primary btn-lg" href="/bookslist" role="button"><i class="fa-solid fa-table"></i> Assignment Tracker</a> 
    </p>    
    </h2>
</div>  
<%- include Partials/footer.ejs%>