/* for the home page */
.containers{
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 40px; 
}
/* for the button page */
.lead{
    align-items: center;
    justify-content: center;
}